<!-- Footer
================================================== -->
<footer class="footer">
    <div class="container text-center" style="clear: both;">
        <P>&nbsp;</P>
        <P>&nbsp;</P>
        <p>Copyright &copy; 2012-2013 陈冬明, All Rights Reserved.</p>
    </div>
</footer>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/prettify.js"></script>
</body>

</html>