<% include head %>
<div class="container">
    <span class="label label-info">说明:</span>
    <div class="alert alert-info">
        3. 产品型号格式按照到货产品的型号全称，如:<span class="label label-success">S235HLBBD</span>或<span class="label label-success">S235HLBbd</span>或<span class="label label-success">S235HL Bbd</span>。不要使用简称缩写等形式；<br>
        4. 进货、销售、库存中，如有未销售或未进货等情况，必须填写<span class="label label-success">0</span>，不得用空格代替；<br>
        5. 测试通过后才可点击提交数据，如发现型号与产品库中型号不匹配则该型号不能成功录入系统，并在下方列表中提示。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="label label-important">第一列为显示顺序项目</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="label label-important">第二列为不显示项目</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="label label-important">第三列为禁用项目</span><br>
    </div>
</div>
<% include footer %>
